%h1
  Hello
  = current_user.email

= link_to 'logout', destroy_user_session_path, method: :delete, class: :logout

%div.friends
  %h3 Your friends are:
  - @friends.each do |friend|
    %div.friend
      = friend
