h1 {
  float: left;
}

.logout {
  float: right;
}

.friends {
  clear: both;
}

.friend {
  float: left;
  margin: 3px;
  padding: 2px 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: auto;
  height: auto;
}
